/* Sub-header menu */
.sub-toolbar {
	position: sticky;
	top: 40px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	background-color: #eee;
	padding: 10px 40px;
}

/*.wiz-button */
.wiz-button {
	border-radius: 3px !important;
	z-index: 980;
	font-family: Poppins, sans-serif;
	line-height: 1.3em;
	font-size: 14px;
	padding: 8px 10px;
	cursor: pointer;
	text-decoration: none;
	align-items: center;
	border: none;
}
a.wiz-button:hover {
	text-decoration: none !important;
}

.wiz-button.gray {
	background-color: #343434;
	color: #fff;
}
.wiz-button.gray:hover {
	background-color: #222222;
}

.wiz-button.green {
	background-color: #94c52a;
	color: #fff !important;
}
.wiz-button.green:hover {
	background-color: #77b900;
}

.wiz-button.red {
	background-color: rgb(255, 186, 186);
	color: #eee !important;
}
.wiz-button.red:hover {
	background-color: red;
	color: #fff !important;
}

.wiz-button.outline {
	background-color: #fff;
	color: #94c52a !important;
	border: 1px solid #eee;
}
.wiz-button.outline:hover {
	background-color: #eee;
}
.wiz-button.disabled {
	background-color: #ababab!important;
	color: #ffffff!important;;
	font-style: italic;
	cursor: wait;
}
.wiz-button.disabled:hover {
	background-color: #666666!important;
	color: #ababab!important;;
	font-style: italic;
}
/* Checkbox Toggles */
/* Basic structure and hiding the checkbox */
.wizToggle-container {
	display: flex;
	align-items: center;
}

.wizToggle-text {
	margin-right: 10px;
}

.wizToggle-switch {
	position: relative;
	width: 40px;
	height: 20px;
}

.wizToggle-input {
	display: none;
}

/* Styling the toggle switch */
.wizToggle-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 20px;
	background-color: #e6e6e6;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.wizToggle-label:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
	transition: transform 0.3s;
}

/* Applying styles when checkbox is checked */
.wizToggle-input:checked + .wizToggle-label {
	background-color: #4caf50;
}

.wizToggle-input:checked + .wizToggle-label:before {
	transform: translateX(20px);
}

/* Favorites Icons */
.addRemoveFavorite {
	cursor: pointer;
	color: #cdcdcd;
}
.addRemoveFavorite.fa-solid,
.favItem .fa-folder-open.fa-solid,
.favItem .fa-folder.fa-solid {
	color: #94c52a;
}
.favItem .fa-folder-open.fa-regular,
.favItem .fa-folder.fa-regular {
	color: #cdcdcd;
}

.favItem .fa-regular.fa-star {
	color: #cdcdcd;
}
.favItem .fa-solid.fa-star {
	color: #fff;
}

/* Single Template Template*/
.iDbreadcrumb {
	margin: 10px 0px;
	font-size: 12px;
	font-style: italic;
}
.iDbreadcrumb a {
	text-decoration: underline !important;
}

#templateUI {
	display: flex;
	overflow: hidden;
	gap: 40px;
}

#templateUI.two-col-wrap .left {
	flex: 50%;
	max-width: calc(100% - 820px);
	height: 1000px;
	overflow-y: auto;
}

#templateUI.two-col-wrap .right {
	flex: 0 0 870px;
	position: relative;
	height: 928px;
}

#templateUI .left #message,
#templateUI .left .message {
	padding: 10px 20px;
	font-size: 12px;
	color: #fff;
	background-color: green;
}

/*Builder Panel*/

.acf-fields > .acf-field.acf-field--post-title {
	padding: 0 !important;
	margin-bottom: 10px;
	z-index: 99;
}
#id-chunks-creator > .acf-fields > .acf-tab-wrap {
	position: sticky;
	top: 0;
	z-index: 10;
}
#id-chunks-creator > .acf-fields .acf-fields .acf-tab-wrap {
	position: sticky;
	top: 46px;
	z-index: 10;
}
.acf-fields > .acf-field.acf-field--post-title label {
	display: none;
}
#acf-_post_title {
	font-size: 20px;
}

#builder-chunks {
}
.scrollSpace {
	padding-top: 100vh;
}
#id-chunks-creator {
	background-color: #fff;
}
#id-chunks-creator .layout {
	margin-top: 0 !important;
}
#id-chunks-creator .layout:not(.-collapsed) {
	border: 2px solid #000 !important;
}
#id-chunks-creator .acf-fc-layout-handle {
	font-weight: bold;
}
#id-chunks-creator .acf-icon.-collapse {
	display: none !important;
}
#id-chunks-creator .acf-fields > .acf-field.acf-field-63e3c7cfc01c6 {
	padding: 0 !important;
}
#id-chunks-creator .acf-actions {
	padding: 10px 0;
}
#id-chunks-creator .acf-form-submit {
	display: none;
}

#id-chunks-creator .acf-field-flexible-content .acf-actions .button-primary {
	background-color: #94c52a;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	margin-right: 20px;
}
#id-chunks-creator .acf-field-flexible-content .acf-actions .button-primary:before {
	content: "+";
	font-size: 2em;
	font-weight: normal;
	padding-right: 5px;
	position: relative;
	top: 5px;
}
#id-chunks-creator .acf-field-flexible-content .acf-actions .button-primary:hover {
	background-color: #343434;
}

/*Template Preview Pane*/
#templatePreview {
	background-color: #f4f4f4;
	box-sizing: border-box !important;
	font-family: Poppins, sans-serif !important;
	height: 100%;
	display: flex;
}
#previewFrame {
	width: 100%;
	background-color: #fff;
	color: #000;
	overflow: hidden;
}
#previewFrame.mobile-preview {
	height: 667px;
	width: 375px;
	margin: 40px auto 0;
	border-radius: 20px;
	border: 10px solid #222;
}

.fullScreenButtons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.template-start-text {
	background-color: #fff;
	font-family: Poppins, Arial, Sans Serif;
	padding: 20px;
	font-size: 18px;
	text-align: center;
}

/* Edit Template, Template Actions */

.iterableSyncStatus {
	text-align: right;
	font-size: 12px;
	padding: 5px 0;
	font-style: italic;
}
.iterableSyncStatus a {
	text-decoration: underline !important;
}

#templateActions {
	background-color: #efefef;

	z-index: 989;
}
.moveFolder,
.deleteFolder {
	cursor: pointer;
}
#templateActions.idSticky {
	padding-bottom: 0;
}
#templateActions .innerWrap {
	padding: 20px 20px;
	display: flex;
	justify-content: flex-start;
}

#templateActions .innerWrap .addRemoveFavorite {
	margin-right: 10px;
	position: relative;
	top: 4px;
	font-size: 1.5em;
}

#templateActions .innerWrap .wiz-button {
	margin-right: 10px;
	display: flex;
}
#templateActions .wiz-button#showFullCode {
	background-color: #282c34;
	color: #fff !important;
	border-color: #454545;
}
#templateActions .wiz-button#showFullCode:hover {
	background-color: #454545;
	color: #fff !important;
}
#templateActions .wiz-button#sendToIterable {
	background-color: #fefefe;
	color: #222 !important;
	border-color: #fefefe;
	display: flex;
	justify-content: center;
	white-space: nowrap;
}
#templateActions .wiz-button#sendToIterable:hover {
	background-color: #eae8e8;
	border-color: #eae8e8 !important;
	color: #000 !important;
}
#templateActions .wiz-button.delete-template {
	background-color: #ec6312;
	border-color: #ec6312;
	color: #fff !important;
}
#templateActions .wiz-button.delete-template:hover {
	background-color: #ff782b;
}
#templateActions .wiz-button.duplicate-template {
	background-color: #7cc8d3;
	border-color: #7cc8d3;
	color: #fff !important;
}
#templateActions .wiz-button.duplicate-template:hover {
	background-color: #7cdbea;
}

/* Preview Device Toggle*/
#deviceSwitcher {
	background-color: #ffffff;
	border-radius: 5px;
	padding: 4px 8px;
	display: flex;
	margin-left: auto;
}
#deviceSwitcher i {
	padding: 0 10px;
	color: #666;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	top: 2px;
}
#deviceSwitcher i.active {
	color: #94c52a;
}
#deviceSwitcher i.active:hover {
	color: #94c52a !important;
}
#deviceSwitcher i:hover {
	color: #222;
}
#templateActions .fill-merge-tags {
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
#templateActions .fill-merge-tags i {
	color: #666;
	padding: 0;
}
#templateActions .fill-merge-tags.active i {
	color: #94c52a !important;
}
#templateActions .toggle-separators.active i {
	color: #94c52a !important;
}
#templateActions-divider {
	border-right: 1px solid #666;
	margin: 0 12px 0 0;
	display: inline-block;
}

/*Template Folders (cat archive and search results)*/
.templateFolder {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 30px;
}
.templateFolder .folderList {
	flex: 0 0 360px;
	width: 360px;
	border-right: 1px solid #222;
	padding-right: 20px;
	position: relative;
}
.templateFolder .folderList h5 {
	position: relative;
	margin: 0 0 10px 0;
	padding-bottom: 3px;
	border-bottom: 1px solid #eee;
}
.templateFolder .folderList #addNewFolder {
	position: absolute;
	top: 0px;
	right: 0px;
}
.templateFolder .folderList #addNewFolder i {
	font-size: 1.3em;
	color: #666;
	cursor: pointer;
}
.templateFolder .folderList #addNewFolder i:hover {
	color: #94c52a;
}

.clickToSelect .selected {
	display: none;
}

.templateFolder .sub-categories.show {
	display: block;
}
.templateFolder .has-sub-cats .showHideSubs {
	margin-left: 15px;
	position: relative;
	top: 2px;
	font-size: 1.1em;
	cursor: pointer;
}

.templateFolder .folderList ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}
.templateFolder .folderList > ul {
	margin-bottom: 20px;
}
.templateFolder .folderList ul li {
	list-style: none;
	font-size: 14px;
	position: relative;
}

.templateFolder .folderList ul li a {
	text-decoration: none;
	color: #222;
	display: inline-block;
	padding: 5px 0;
}
.templateFolder .folderList ul li a i.fa-folder,
.templateFolder .folderList ul li a i.fa-folder-open {
	color: #efdb43;
	font-size: 1.2em;
}
.templateFolder .folderList ul li.current-cat > a {
	font-weight: bold;
}
.templateFolder .folderList ul li ul {
	border-left: 1px dotted #cdcdcd;
}
.templateFolder .folderList ul li ul li:not(.favItem) {
	margin-left: 10px;
}
.favItem > a {
	max-width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.favItem a i.fa-folder,
.favItem a i.fa-folder-open,
.favItem a i.fa-file {
	color: #94c52a !important;
}
.favItem a i.fa-star {
	color: #fff;
}
.favItem .addRemoveFavorite {
	display: none;
	color: #cdcdcd;
	cursor: pointer;
	position: relative;
	top: -12px;
}
.favItem:hover i.addRemoveFavorite {
	display: inline;
}
.favItem:hover i.addRemoveFavorite:hover {
	color: red;
}

.templateFolder .folderList ul li .fa-trash {
	color: #ff8d4e;
}
.templateTable .fa-folder,
.templateTable .fa-folder-open {
	color: #efdb43;
	font-size: 1.2em;
}
.templateToolbar {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
	margin-bottom: 20px;
}
.templateTable #bulkActionsSelect {
	padding: 5px 20px;
	border-radius: 4px;
	border-color: #aaa;
}
.templateTable #bulkActionsSelect option {
	padding: 5px 20px;
	font-size: 18px;
}
.templateToolbar #search-templates input {
	min-width: 300px;
}
.templateToolbar #templates-tools {
	margin-left: auto;
}

.templateFolder .templateTable {
	flex: 1 1 auto;
	margin-left: 30px;
	width: 100%;
}
.templateFolder .bulk-actions > td {
	border: 0 !important;
	padding: 0 0 10px 10px !important;
}
.templateTable .folder-header tr th {
	border-bottom: 1px solid #cdcdcd;
}
.templateTable .folder-header tr th.single-folder-title {
	font-weight: bold;
	font-size: 18px;
}
.templateFolder .templateTable table {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
}

.templateFolder .templateTable th,
.templateFolder .templateTable td {
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 14px;
}
.templateFolder .templateTable td a {
	text-decoration: none;
	color: #222;
}
.templateFolder .templateTable td a:hover {
	text-decoration: underline;
}
.templateFolder .templateTable td a.sentIndicator {
	font-size: 12px;
	font-weight: bold;
	color: #94c52a !important;
	padding-left: 5px;
}
.templateFolder .templateTable td .sentIndicator i {
	color: #94c52a;
}
.templateFolder .templateTable th {
	border: 0;
	text-align: left;
}
.templateFolder .templateTable tr.favorite {
	background-color: #f6ffe1;
}
.templateFolder .templateTable tr.selected > td {
	background-color: #84eeff;
}
.templateFolder .templateTable tbody tr:hover {
	background-color: #f5f5f5;
}
.templateFolder .templateTable td.templateActions {
	white-space: nowrap;
}
.templateFolder .templateTable td.templateActions i {
	cursor: pointer;
}
.templateFolder .templateTable td.templateActions i:hover {
	color: #222;
}
.templateFolder .templateTable tr.trashed td {
	background-color: #fc9f88;
	font-style: italic;
}

/* Pagination */
.archive.category .pagination {
	margin-top: 20px;
	text-align: right;
}
.archive.category .pagination a {
	text-decoration: none;
	color: #222;
	padding: 0 5px;
	font-size: 18px;
}
.archive.category .pagination a:hover {
	color: #94c52a;
}
.archive.category .pagination span {
	font-weight: bold;
	color: #94c52a;
	font-size: 18px;
	padding: 0 5px;
}

/* Style for the template selection wrapper */

.templateSelectWrap {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 16px;
	max-height: 60vh;
	overflow-y: auto; /* Scrollable content */
	width: 100%; /* Ensures the grid takes the full width of its container */
}

.templateTabs ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 30px 0;
}

.templateTabs ul li {
	display: inline-block;
	margin-right: 10px;
}

.templateTabs ul li a {
	padding: 10px 20px;
	display: inline-block;
	text-decoration: none;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.templateTabs ul li a.active {
	background-color: #94d401;
	color: #fff;
}

/* Hidden tab */
.templateTabs > div.hidden {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

/* Visible tab */
.templateTabs > div.visible {
	visibility: visible;
	opacity: 1;
	position: relative;
	z-index: 1;
}
/* Style for individual template items */
.startTemplate {
	border: 1px solid #ccc;
	border-radius: 8px;
	height: 250px;
	text-align: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

/* Maintain aspect ratio of grid item */
.startTemplate::before {
	content: "";
	display: block;
	padding-bottom: 100%; /* 1:1 Aspect Ratio */
	position: absolute;
	z-index: -1;
}

.startTemplate > * {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Hover effect */
.startTemplate:hover,
.startTemplate.selected {
	border-color: #94d401;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the mockup images */
.new-template-base-mockup img,
.startTemplate img {
	width: 100%;
	height: auto;
	transition: opacity 0.3s ease;
}

/* Style for the title */
.startTemplate h4 {
	margin: 8px 0;
}

/*ACF Field Styles*/

.select2-container.-acf {
	z-index: 990 !important;
}
.acf-hide-field > .acf-label {
	display: none;
}
.acf-fields > .acf-field {
	padding: 8px 10px !important;
}
#acf-_post_title {
	font-size: 16px;
	font-weight: bold;
	padding: 6px 10px;
}
.acf-field textarea,
.acf-field input[type="text"],
.acf-field input[type="url"],
.acf-field input[type="num"] {
	border: 1px solid #cdcdcd !important;
}
.acf-label,
.acf-label > label {
	margin-bottom: 0 !important;
}
.acf-label > label,
.acf-radio-list label,
.acf-field p.description {
	font-size: 12px;
}
.acf-field-group > .acf-label > label {
	font-size: 16px;
}

.acf-code-field textarea {
	background-color: #222 !important;
	color: #fff !important;
	padding: 20px !important;
}
.acf-field.acf-field-color-picker .acf-label {
}
.acf-field.acf-field-color-picker {
}
.acf-color-picker .wp-picker-container.wp-picker-active {
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.59);
	z-index: 99;
}
.acf-color-picker .wiz-button {
	border: 1px solid #eee !important;
	border-radius: 5px;
	line-height: 1 !important;
}
.acf-color-picker .wp-color-result.wp-picker-open {
	border: 1px solid #eee;
}
.acf-color-picker .wp-color-result-text {
	border: 1px solid #222;
}
.acf-color-picker .wp-color-result:focus {
	box-shadow: none;
}
.acf-color-picker.wiz-button.wp-picker-clear {
	line-height: 1;
	cursor: pointer;
}
.acf-color-picker .wp-picker-clear:hover {
	background-color: #666;
}

.acf-accordion-title,
.acf-accordion-title label {
	cursor: pointer !important;
}
.acf-accordion-title label .dashicons {
	margin-right: 10px;
}
.acf-accordion.-open .acf-accordion-title {
	background-color: #f3f4f5 !important;
}
.acf-accordion-content,
.acf-accordion .acf-fields,
.acf-accordion .acf-field {
	background-color: #f3f4f5 !important;
}
/*tinymce stuff*/
.mce-container .mce-txt {
	color: #222 !important;
}
.mce-container.wiz-button {
	background-color: #f3f4f5 !important;
	color: #222;
}

.acf-radio-list input[type="radio"] {
	width: 14px;
	height: 14px;
	border: 1px solid #000 !important;
}
.acf-radio-list input[type="radio"]:after {
	width: 8px;
	height: 8px;
	left: 2px !important;
	top: 2px !important;
}

.acf-field-group {
	padding: 0 !important;
}
.acf-field-group .acf-label {
	padding: 5px 10px 0 0 !important;
}
.acf-field-group .acf-fields {
	border: 0 !important;
}

/*Generate HTML Styles*/
#fullScreenCode {
	display: none;
	position: fixed;
	width: 1200px;
	height: 800px;
	left: 50%;
	margin-left: -600px;
	top: 40px;
	box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.23);
	z-index: 999;
	background-color: #eee;
	padding: 20px;
}

#generatedHTML {
	background-color: #282c34;
	font-size: 14px;
	overflow-y: scroll;
	height: calc(100% - 50px);
}

pre#generatedCode {
	margin-top: 20px;
	background-color: #282c34;
	color: #eee;
	line-height: 1.1;
}

.copyConfirm,
.copySnippetConfirm {
	display: none;
	color: red;
	font-weight: bold;
}

/* Overlay, Pop-Ups, and Spinners*/
#iDoverlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 990;
}
#iDoverlay:after {
	content: "Loading...";
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 995;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}
#iDspinner {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 995;
}
.code-popup .swal2-html-container {
	background-color: #282c34;
	height: 600px;
	text-align: left;
}
.code-popup .swal2-html-container pre {
}
.code-popup .swal2-html-container code {
	white-space: pre-wrap;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.1;
	color: #eee;
	text-align: left;
}

.codeChunk {
	display: none;
}

.loader {
	color: #ffffff;
	font-size: 20px;
	margin: 100px auto;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	transform: translateZ(0);
}
@keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}

/* Wrapper for the DataTable */
#idemailwiz_tablePreLoad {
	height: 200px;
}
/* Table styles */
.idemailwiz_table {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9em;
	text-align: left;
}


.idemailwiz_table_container {
	min-height: 700px;
	resize: vertical;
	overflow: hidden;
	margin-bottom: 40px;
}

#wiztable_status_sync_details {
	max-width: 600px;
	min-height: 40px;
	height: 200px;
	margin: 0 auto;
	overflow-y: auto;
	background-color: #222222;
	color: #fff;
	padding: 15px;
	font-size: 13px;
	resize: vertical;
	font-family: "Courier New", Courier, monospace;
	display: none;
}
.wiztable_view_sync_details {
	cursor: pointer;
	font-size: 12px;
	color: #666;
	padding-left: 20px;
}
.idemailwiz-table td.campaignName {
	white-space: nowrap;
}
/* Popup Modal Styles */
/* Modal Overlay */
.idwiz-modal-overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

/* Modal Content */
.idwiz-modal-content {
	display: none;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 40px);
	max-width: 1200px;
	height: 80vh; /* Define a fixed height for the modal based on viewport */
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	z-index: 1001;
	border-radius: 5px;
	overflow: hidden; /* Ensure nothing spills out of the modal */
}

/* Modal Header */
.idwiz-modal-header {
	display: flex;
	justify-content: space-between;
	padding: 15px 30px;
	font-size: 18px;
	background-color: #343434;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	align-items: center;
	color: #fff;
}

/* Modal Close Icons */
.idwiz-modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 18px;
	cursor: pointer;
}

/* Modal Content Body */
.idwiz-modal-body {
	padding: 30px;
	height: calc(80vh - 60px);
	overflow-y: auto;
}

/* Modal Titles */
.idwiz-modal-content h3 {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

/* Metrics Rollup flex-table display */
.rollup_summary_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.rollup_summary_wrapper .rollup_summary_loader {
	margin: 0 auto;
	text-align: center;
}

.metric-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	max-width: 200px;
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.metric-item.this-month {
	box-shadow: inset 0 0 5px 1px rgba(117, 192, 242, 0.5);
}
.metric-item.highlight {
	box-shadow: inset 0 0 5px 1px rgba(148, 212, 10, 0.5);
}

.metric-label {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	font-variant: all-small-caps;
}
.metric-difference {
	font-size: 0.8em;
	font-style: italic;
	font-weight: 400;
}
.metric-difference.positive {
	color: #77b900;
}

.metric-difference.negative {
	color: red;
}
.metric-value {
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: bold;
	color: #343434;
}

/* Table header styles */
.idemailwiz_table th {
	background-color: #343434 !important;
	color: #ffffff;
	padding: 12px;
	text-transform: uppercase;
	white-space: nowrap;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	vertical-align: middle;
}
.dtfc-right-top-blocker {
	background-color: #f1f1f1 !important;
}
.wiztable_toolbar {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	gap: 5px;
}
.idemailwiz_table div.dts tbody td {
	white-space: normal;
}
#wiztable_top_wrapper {
	display: flex;
	justify-content: space-between;
}
.dataTables_wrapper .dataTables_filter {
	float: none;
}
.dataTables_wrapper .dataTables_filter input,
#idemailwiz_date_range input {
	padding: 6px 10px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #343434;
}
.dataTables_wrapper .dataTables_filter input {
	font-size: 18px;
}
#idemailwiz_date_range input {
	font-weight: bold;
	color: blue;
}
#idemailwiz_date_range {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	align-items: center;
	margin: 0 10px;
}

#wiztable_top_search {
	display: flex;
	flex-direction: column;
	margin: auto 10px auto 0;
}
#wiztable_top_dates {
	margin: auto 15px;
}

.wiz_sbpopover {
	width: 65% !important;
	left: 25% !important;
	top: 10% !important;
}
.dtsb-value.dtsb-input {
	width: auto !important;
}

/* Metrics Campaign Table */
#header-tabs {
	display: flex;
	gap: 10px;
	position: relative;
	bottom: -30px;
}
#header-tabs .campaign-tab {
	border-bottom: 4px solid rgba(255, 255, 255, 0);
	padding: 10px 20px;
	color: #666;
	cursor: pointer;
	text-decoration: none;
}
#header-tabs .campaign-tab.active {
	border-bottom: 4px solid #94c52a;
}
#header-tabs .campaign-tab:hover {
	border-bottom: 4px solid #ccc;
}
#header-tabs .campaign-tab.active:hover {
	border-bottom: 4px solid #94c52a;
}

/* Experiment Variation templates */
.experiment_var_wrapper {
	border: 1px solid #eee;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
	overflow-x: auto;
	padding: 15px;
	row-gap: 10px;
}
.experiment_var_wrapper h4 {
	flex: 0 0 100%;
	margin-bottom: 0;
}
.experiment_var_wrapper .mark_as_winner {
	padding: 20px;
}
.experiment_var_wrapper.winner {
	background-color: #c5deff;
}

.dt-buttons {
	display: flex;
	float: none;
	padding: 6px 10px;
	background-color: #eee;
	border-radius: 5px;
	margin-left: auto;
	gap: 5px;
}

.dt-button.wiz-dt-button {
	background-color: #343434 !important;
	color: #fff !important;
	border-radius: 3px !important;
	border: 0 !important;
	padding: 6px 15px !important;
	line-height: 1 !important;
	font-size: 14px;
	cursor: pointer;
	margin: auto 0 !important;
}
.dt-button.wiz-dt-button.skinny {
	padding: 6px 8px !important;
}
.dt-button.wiz-dt-button.fiscal-year {
	margin-left: 10px !important;
}

/* Single WizCampaign Metrics Page */

.wizHeader {
	box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
.wizHeader .wizHeaderInnerWrap {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	max-width: 1800px;
	margin: 0 auto;
}
@media screen and (max-width: 1800px) {
	.wizHeader .wizHeaderInnerWrap {
		padding: 30px 40px;
	}
}
.wizHeader .wizEntry-title input {
	font-size: 24px;
	font-weight: bold;
	border: 0;
	padding: 10px;
	width: 600px;
	position: relative;
	left: -10px;
}
.wizHeader .wizEntry input:active {
	outline: thin dotted;
	border: 0;
}
.wizHeader .wizEntry-meta {
	font-size: 12px;
	color: #666;
}
.wizHeader-right {
	display: flex;
	flex-direction: column;
}
.wizHeader .wizHeader-actions {
	position: relative;
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: auto;
}

.wizHeader .wizHeader-actions i.fa-solid.fa-star {
	color: #94c52a;
}
.wizcampaign-single h3.single-wizcampaign-startAt {
	text-align: center;
}
.campaign-init-flags {
	padding: 10px 0;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: left;
}
.campaign-init-flag {
	display: flex;
	gap: 10px;
	background-color: #eee;
	padding: 3px 10px;
	border-radius: 10px;
}
.campaign-init-flag:hover {
	background-color: #cdcdcd;
}
.campaign-init-flag a {
	color: #000 !important;
	text-decoration: none;
	font-size: 11px;
}
.campaign-init-flags .add-initiative-icon {
	padding: 3px;
	display: flex;
	height: 24px;
	width: 24px;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	line-height: 1;
	cursor: pointer;
}
.campaign-init-flags .add-initiative-icon:hover {
	background-color: #94c52a;
}
.campaign-init-flag .remove-initiative-icon {
	font-size: 12px;
	height: 17px;
	width: 17px;
	text-align: center;
	line-height: 1;
	border-radius: 12px;
	padding: 3px;
	cursor: pointer;
}
.campaign-init-flag .remove-initiative-icon:hover {
	background-color: red;
	color: #fff;
}

h2.wizArticle-title {
	margin: 40px 0 30px 0;
}

/* Module settings dropdown */
#module-settings-dropdown {
	display: none;
	position: absolute; /* Positioned relative to its trigger element */
	right: 0; /* Align to the right of the button */
	background-color: #f9f9f9; /* Light grey background */
	min-width: 240px; /* Set a minimum width for the menu */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Shadow for a 3D effect */
	z-index: 1; /* Ensures the dropdown stacks on top of other content */
	padding: 10px;
}

#module-settings-dropdown .input-groups {
	margin-bottom: 10px;
}
#module-settings-dropdown .input-group {
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: 12px;

}
#module-settings-dropdown .input-group-description {
	font-size: 10px;
}
#module-settings-dropdown label {
	display: block;
	
	padding: 5px;
	cursor: pointer;
	font-weight: 500;
}
#module-settings-dropdown label:hover {
	background-color: #cdcdcd;
}
#module-settings-dropdown label input {
	margin: 0;
}

#module-settings-dropdown .input-group .radio-item {
	display: flex;
	align-items: center;
	gap: 5px;
}

#selectAttrLength {
	width: 100%;
	padding: 5px;
	border-radius: 3px;
}

/* wizcampaign-section styles */
.wizcampaign-sections-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	gap: 20px;
	flex-wrap: wrap;
}
.wizcampaign-sections-row.noWrap {
	flex-wrap: nowrap;
}
.wizcampaign-sections-row.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr); /* 5 columns of equal width */
	gap: 20px; /* Optional: space between grid items */
}
@media screen and (max-width: 1750px) {
	.wizcampaign-sections-row.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 1000px) {
	.wizcampaign-sections-row.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 768px) {
	.wizcampaign-sections-row.grid {
		grid-template-columns: repeat(1, 1fr);
		gap: 0;
	}
}
.wizcampaign-section {
	flex: 1;
	min-width: 300px;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.wizcampaign-section.span2 {
	flex: 2;
}
.wizcampaign-section.span3 {
	flex: 3;
}
.wizcampaign-section.span4 {
	flex: 4;
}
@media (max-width: 768px) {
	.wizcampaign-section {
		flex: none;
		width: 100%;
		margin: 10px 0; /* Adjust the margin to be vertical since they stack */
	}
}
.wizcampaign-section-scrollwrap {
	max-height: 250px;
	overflow-y: auto;
}

.wizcampaign-section-title-area {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.wizcampaign-section-title-area h4 {
	color: #666;
	font-weight: 300;
}
.wizcampaign-section-title-area-right {
	font-size: 0.8em;
}
.wizcampaign-section-icons {
	display: flex;
	gap: 10px;
	color: #343434;
}
.wizcampaign-section-icons .active {
	color: #94c52a;
}

.wizcampaign-section.shadow {
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
.wizcampaign-section.inset {
	box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.1);
}

/* Dashboard Nav Area */
.dashboard-nav-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dashboard-nav-area .dashboard-nav-area-left,
.dashboard-nav-area .dashboard-nav-area-right {
	flex: 1;
}
.dashboard-nav-area .dashboard-nav-area-main {
	flex: 4;
	text-align: center;
}
.dashboard-nav-area .wizToggle-container {
	justify-content: flex-end;
}

/* Dashboard/Home Page */
#dashboardDateNav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 20px;
	text-align: center;
}
#dashboardDateNav .select2-container {
	font-size: 22px;
	font-weight: bold;
}
#dashboardDateNav #wizMonthDropdown {
	width: 200px;
}
#dashboardDateNav #wizYearDropdown {
	width: 130px;
}
#dashboardDateNav .wizDateNav-left,
#dashboardDateNav .wizDateNav-right {
	font-size: 26px;
	position: relative;
	top: 2px;
}
#dashboardDateNav .wizDateNav-left a:visited,
#dashboardDateNav .wizDateNav-right a:visited {
	color: #7fb707;
}
#dashboardDateNav .wizDateNav-title h1 {
	margin: 0;
}

.dashboard-date-pickers {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	align-items: center;
	gap: 40px;
}
#wizStartDate,
#wizEndDate,
.dashboard-date-pickers .form-control.input {
	padding: 3px 10px;
	border: 1px solid #eee;
	border-radius: 3px;
	font-weight: bold;
	font-size: 18px;
	width: 160px;
}


.dashboard-date-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.month-year-select {
	width: 150px;
}
.metrics-tower {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.metrics-tower h5 {
	text-align: center;
}

.metrics-tower-group .wizcampaign-section-content {
	display: flex;
	justify-content: space-between;
	overflow-y: auto;
}

/* Dashboard Campaigns Table */
#dashboard-campaigns td.campaignName {
	white-space: nowrap;
}

/* Reports Pages */
#reportsOverview .wizcampaign-section-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	min-height: 140px;
}
#reportsOverview .wizcampaign-section-content .wiz-button {
	margin-right: auto;
}
.report-controls-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: 20px;
}
.report-controls-form .form-group {
	display: flex;
	flex-direction: column;
}

.report-controls-form .field-group-wrap {
	margin-bottom: 5px;
}
.report-controls-form .field-group-wrap.flex {
	display: flex;
	gap: 5px;
}
.report-controls-form .form-group label {
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
}
.report-controls-form .form-group input#day-of-year {
	padding: 8px;
	font-size: 18px;
}
.report-controls-form .form-group .check-group {
	display: flex;
	align-items: baseline;
	gap: 4px;
}
.report-controls-form input[type="number"] {
	max-width: 80px;
}
.report-controls-form .select2-container {
	min-width: 700px !important;
}
.report-controls-form .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
	padding-left: 20px;
}
.report-controls-form .select2-container--default .select2-selection--multiple .select2-selection__choice__remove > span {
	position: relative;
	top: 4px;
}

.wizChartWrapper.cohort2ndPurchases {
	max-height: 350px;
}
/* Wizcharts */
.wizChartWrapper {
	position: relative;
	min-height: 250px;
	max-height: 350px;
}
.wizChartLoader {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
}
.wizChartLoader i {
	font-size: 32px;
	margin-right: 10px;
}
#monthlyCampaignStack {
	display: flex;
	flex-direction: column;
}

#monthly-goal-section {
	height: 150px;
}
#monthly-goal-section .wizChartWrapper {
	min-height: 0!important;
	height: 50px!important;
}
#monthly-goal-section .wizChartWrapper canvas {
	height: 50px!important;
}



.wizcampaign-experiments {
	margin: 30px 0;
}
.wizcampaign-experiments-header {
	border-bottom: 1px dotted #343434;
	margin-bottom: 30px;
}
.wizcampaign-experiments .wizcampaign-experiment {
	margin-bottom: 30px;
}
.wizcampaign-experiments .wizcampaign-experiment .rollup_summary_wrapper {
	margin-bottom: 0 !important;
}
.wizcampaign-experiments textarea#experimentNotes {
	border: 1px dotted #eee;
	width: 740px;
	min-height: 100px;
	max-height: 600px;
	overflow-y: auto;
	font-family: Poppins, sans-serif;
	font-size: 16px;
	padding: 15px;
	resize: vertical;
}

.wizcampaign-single .wizcampaign-template-details {
	position: sticky;
	padding: 20px;
	border-bottom: 1px solid #eee;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.wizcampaign-single .wizcampaign-template-details ul {
	margin: 0;
	padding: 0;
}
.wizcampaign-single .wizcampaign-template-details ul li {
	list-style: none;
	padding-bottom: 6px;
	color: #222;
}
.wizcampaign-template-area {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.wizcampaign-single .wizcampaign-template-html {
	flex: 0 1 820px;
	min-height: 1200px;
	margin: 30px auto;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	position: relative;
}
.wizcampaign-single .wizcampaign-template-html iframe {
	width: 100%;
	height: 1070px;
}

.wizcampaign-template-preview-iframe-container {
	position: relative;
	width: 100%;
	height: 100%; /* Adjust as needed */
	overflow: hidden;
}

.templatePreviewIframe {
	width: 100%;
	height: 100%; /* Adjust as needed */
}

.heatmap-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* This allows user interactions to pass through the overlay */
	overflow: visible;
}

.heatmap-overlay {
	position: absolute; /* Now we can set this to absolute as it's within the .heatmap-container */
	width: 100%;
	height: 100%;
}

.heatmap-point {
	position: absolute;
	width: 40px; /* Increased size */
	height: 40px;
	border-radius: 50%; /* Circular shape */
	background: radial-gradient(circle, red, transparent); /* Gradient effect */
	pointer-events: auto;
}

.heatmap-tooltip {
	display: none;
	position: absolute;
	top: -50px; /* Position above the point */
	left: 50%;
	max-width: 250px;
	transform: translateX(-50%);
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 12px;
	z-index: 9999;
	word-break: break-all;
}
.tinyTableWrapper {
	min-width: 260px;
}
.tinyTableWrapper table {
	border-collapse: collapse;
}
.wizcampaign-tiny-table {
	width: 100%;
}
.tinyTableWrapper .dataTables_paginate {
	margin-top: 10px;
}
.tinyTableWrapper .dataTables_length {
	margin-bottom: 10px;
	float: right;
}
.wizcampaign-tiny-table th {
	text-align: left;
	background-color: #343434;
	color: #fff;
	padding: 5px 10px;
	font-size: 14px;
	border: 1px solid #000;
}

.wizcampaign-tiny-table td {
	padding: 5px 10px;
	border: 1px solid #343434;
	font-size: 14px;
	max-width: 200px;
}

.wizcampaign-mobile-template {
	padding: 30px;
	max-width: 360px;
	margin: 0 auto;
}
.wizcampaign-mobile-template img {
	max-width: 200px;
	display: block;
	margin: 0 auto 20px auto;
}

/* Single Initiatives */

.single-idwiz_initiative #initiative-content-editable {
	border: 0;
	resize: none;
	width: 100%;
	height: calc(100% - 30px);
	font-family: Poppins, sans-serif;
	font-size: 16px;
}
.single-idwiz_initiative .initStatusIndicator i {
	color: #666;
}
.single-idwiz_initiative .initStatusIndicator i.active {
	color: #94c52a;
}

#initiative-campaigns-table tbody th,
#initiative-campaigns-table tbody td {
	white-space: nowrap;
}
.single-idwiz_initiative #initiative-campaigns-table > .wizcampaign-section {
	width: 100%;
	margin-top: 30px;
}
.single-idwiz_initiative #idemailwiz_initiative_campaign_table {
	width: 100%;
	max-height: 700px;
}
#idemailwiz_initiative_campaign_table_length {
	margin-top: 10px;
}
/* Init assets library container */

#initiativeAssets {
	max-width: 50%;
}
.initAssetsLibrary {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16.66%, 1fr));
	gap: 16px;
}

/* Init assets library item */
.initAssetsLibrary img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#initAssetsUI {
	max-height: 250px;
	overflow-y: auto;
}
#initAssetsUI .init_asset_wrap {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	border: 2px solid #fff;
	cursor: pointer;
}
#initAssetsUI .init_asset_wrap:hover {
	border: 2px solid #77b900;
}

.no-animation-popup {
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
.no-animation-popup img {
	padding-top: 20px;
	max-height: 400px !important;
	width: auto !important;
	max-width: 100%;
	display: block !important;
}

/* Simple Table */
.idemailwiz-simple-table {
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 20px 0;
}

/* Base table styles */
#showAttachBaseTemplate {
	display: none;
}
#initTemplateTools {
	text-align: center;
}
#initTemplateTools .acf-form {
	margin: 20px 0;
}
#initTemplateTools .acf-field {
	padding: 10px 0 !important;
	text-align: left;
}
#initTemplateTools #replaceBaseTemplate {
	margin-top: 20px;
}
/* Base template Mockups */
.init-template-mock-ups {
	display: flex;
	gap: 20px;
	overflow-y: auto;
	max-height: 300px;
	margin-top: 20px;
}
.init-template-mock-ups .init-template-mock-up {
}
.init-template-mock-ups .init-template-mock-up img {
	max-width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Table header styles */
.idemailwiz-simple-table thead th {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	font-weight: bold;
}

/* Table body row styles */
.idemailwiz-simple-table tbody tr {
	border-bottom: 1px solid #ddd;
}

.idemailwiz-simple-table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

/* Table cell styles */
.idemailwiz-simple-table td {
	padding: 6px 8px;
	border: 1px solid #ddd;
	vertical-align: top;
}

/* Hover effect for rows */
.idemailwiz-simple-table tbody tr:hover {
	background-color: #eaeaea;
}

.remove-init-campaign {
	text-align: center;
	color: #666;
	cursor: pointer;
}
.remove-init-campaign:hover {
	text-align: center;
	color: red;
}

.idemailwiz-simple-table.compact td,
table.compact th {
	padding: 4px 6px;
}

.initiative-add-campaign-form {
	display: none;
}
.initiative-add-campaign-form input {
	width: 600px;
	height: 300px;
}
.initiative-add-campaign .select2-selection {
	margin-bottom: 10px;
}
.initiative-add-campaign-form .add-to-table {
	margin-top: 10px;
}

/* Select2 Styles */

.select2-container .select2-search--inline {
	float: none !important;
}

#dt-popover-container {
	padding: 30px;
	text-align: center;
}
.swal2-html-container .select2-container {
	width: 250px !important;
}
.swal2-html-container {
	overflow: visible !important;
}

/* Initiative Archive */
#idemailwiz_initiatives_table_wrapper {
	margin-bottom: 40px;
}


/* Single Journey */
.highlight-indicator {
	text-align: center;
	background-color: #75c0f2;
	padding: 5px;
}
.highlight-indicator h2 {
	display: inline-block;
	margin-bottom: 0;
}
.highlight-indicator a {
	font-size: 20px;
	margin-left: 20px;
	color: #fff!important;
	text-decoration: none;
}

.journey-timeline {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	border:1px solid #eee;
	padding-bottom: 6px;
}

.dragScroll-indicator {
	float: right;
	margin-bottom: 5px;
	font-style: italic;
}

.journey-timeline .timeline-campaign-row {
	display: flex;
	align-items: center;
}
.journey-timeline .timeline-campaign-row.highlight .timeline-cell {
	background-color: #75c0f2;
}
.journey-timeline .timeline-campaign-title {
	font-size: 12px;
	padding: 10px;
	flex: 0 0 200px;
	width: 200px;
	background-color: #fff;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	border-right: 1px solid #eee;
	z-index: 990;
}
.journey-timeline .timeline-campaign-row .timeline-campaign-cell-wrap {
	display: flex;
	padding-left: 200px;
}
.journey-timeline .timeline-campaign-row .timeline-cell.send-date {
	font-weight: bold;
}
.journey-timeline .timeline-campaign-row .timeline-cell .timeline-cell-popup {
	display: none;
	position: absolute;
	top: 100%;
	right: 100%;
	min-width: 140px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	z-index: 995;
	text-align: left;
}
.journey-timeline .timeline-campaign-row .timeline-cell .timeline-cell-popup-title {
	font-weight: bold;
	background-color: #eee;
	padding: 12px;
}
.journey-timeline .timeline-campaign-row .timeline-cell .timeline-cell-popup-content {
	padding: 5px 12px 12px 12px;
}

.journey-timeline .timeline-campaign-row .timeline-cell:hover .timeline-cell-popup {
	display: block;
}
.journey-timeline .timeline-campaign-row .timeline-cell {
	flex: 1;
	padding: 5px;
	min-width: 50px;
	min-height: 30px;
	border: 1px solid #eee;
	text-align: center;
	font-size: 10px;
	position: relative;
}
.journey-timeline .timeline-campaign-row .timeline-cell .timeline-cell-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.journey-timeline .timeline-campaign-row .timeline-cell.active {
	background-color: #eee;
}
.journey-timeline .timeline-campaign-row .timeline-cell.active:hover {
	background-color: #94c52a
}


.idwiz-dragScroll {
	cursor: grab;
}


/* Sync Station */
#syncStationForm {
	position: relative;
}
#syncStationForm .syncForm-overlay {
	position: absolute;
	z-index: 997;
	top: -1%;
	right: -1%;
	bottom: -1%;
	left: -1%;
	width: 102%;
	height: 102%;
	background-color: rgba(148, 197, 42, .75);
	display: none;
	justify-content: center;
	align-items: center;
}
#syncStationForm .syncForm-overlay.active {
	display: flex;
}
#syncStationForm .syncForm-overlayContent {
	font-size: 26px;
	font-weight: 900;
	color: #343434;
}
#syncStationForm fieldset {
	display: block;
	margin-bottom: 30px;
}
#syncStationForm .syncTypes {
	display: flex;
	gap: 10px;
}
#syncStationForm legend {
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: 500;
}
#syncStationForm .syncTypes label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}
#syncStationForm .syncTypes input {
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

fieldset#syncStation-syncDates {
	display:flex;
	gap: 20px;
}
#syncStation-syncDates input {
	padding: 5px;
	border-radius: 5px;
	font-size: 18px;
}
#syncStation-syncCampaigns textarea {
	width: 100%;
	height: 120px;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
}

#syncLogContent {
	overflow-x: auto;
}

#sync-log-panel {
	max-height: 600px;
	overflow-y: auto;
}


/* Notifications */
.wizNotifs {
	position: fixed;
	right: 40px;
	bottom: 0;
}
.wizNotifs .wizNotif {
	background-color: #77e3ff;
	padding: 15px 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	display: inline-flex;
	float: right;
	clear: both;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-bottom: 10px;
}
.wizNotifs .wizNotif .wizNotifIcon {
	text-align: center;
	color: #707070;
	margin-right: 10px;
} 
.wizNotifs .wizNotif .wizNotifClose {
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
	margin-left: auto;
}
.wizNotifs .wizNotif .wizNotifClose:hover {
	background-color: #fff;
}
